<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用于编写SQL语句，操作数据库 -->
<!-- namespace="对应 Mapper 接口全路径" -->
<!-- id="方法名" ，由于使用了别名配置，resultType和parameterType直接使用类名小写，基本数据类型使用包装类的全路径 -->
<!-- 尽量不要用 * 号，把所有字段列出来 -->
<mapper namespace="com.hrm.mapper.DemoMapper">

	<select id="getDemoById" resultType="demo" parameterType="java.lang.Integer">
		select id,name,hobits,birthday from demo where id=#{id}
	</select>
	
	<select id="getAllDemos" resultType="demo">
		select id,name,hobits,birthday from demo
	</select>
	
	<insert id="addDemo" parameterType="demo">
		insert into demo(id,name,hobits,birthday) values(#{id},#{name},#{hobits},#{birthday})
	</insert>
	
	<update id="updateDemo" parameterType="demo">
		update demo set name=#{name},hobits=#{hobits},birthday=#{birthday} where id=#{id}
	</update>
	
	<delete id="removeDemo" parameterType="java.lang.Integer">
		delete from demo where id=#{id}
	</delete>
</mapper>
  
